---
layout: default
---
<main>
  <header class="hero is-primary is-bold ">
    <div class="hero-body">
      <div class="container">
        <h1 id="{{ page.title | slugify }}" class="title">
          {{ page.title | escape }}
        </h1>
        {% if page.subtitle %}
        <h2 class="subtitle">
          {{ page.subtitle | escape }}
        </h2>
        {% endif %}
      </div>
    </div>
  </header>
  <article class="container" aria-label="Content">
  
    <div class="level">
      <div class="level-left">
      {% include nav-breadcrumbs.html %}
      </div>
      <div class="level-right">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-small is-info is-outlined" href="/help">Help</a>
          </p>
          <p class="control">
            {% include history-button.html %}  
          </p>
          <p class="control">
            {% include edit-button.html %}          
          </p>
        </div>
      </div>
    </div>
  {{ content }}

    

    <footer class="content">
      
      {% capture bibliography_text %}
      {% bibliography --cited_in_order %}
      {% endcapture %}
      {% if bibliography_text contains "<li>" %}
      <h1>Bibliography</h1>
      {{ bibliography_text }}
      {% endif %}
    </footer>
    <div class="level">
      <div class="level-left">
        <p>
          &nbsp;
        </p>
      </div>
      <div class="level-right">
          
      </div>
    </div>
  </article>
</main>