---
layout: default
---
<section class="hero is-primary is-bold ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.title | escape }}
      </h1>
      {% if page.subtitle %}
      <h2 class="subtitle">
        {{ page.subtitle | escape }}
      </h2>
      {% endif %}
    </div>
  </div>
</section>
<main class="container" aria-label="Content">
 
  <div class="level">
    <div class="level-left">
        <div class="level-item">
 {% include nav-breadcrumbs.html %}
        </div>
    </div>
    <div class="level-right">
        <p class="level-item"><a href="/help">Help</a></p>
        <p class="level-item">
            {% include edit_button.html %}
        </p>
    </div>
</div>

  {{ content }}
</main>