---
layout: default
---


<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ site.title | escape }}
      </h1>
      <h2 class="subtitle">
        {{ site.subtitle | escape }}
      </h2>
    </div>
  </div>
</section>
<main class="container">

  {{ content }}

  <ul class="">
    {% for post in site.posts %}
    <li>
      <span class="">{{ post.date | date: site.date_format }}</span>

      <h2>
        <a class="" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>



</main>