---
layout: container
---

<article>
        <div class="content">
    {{ content }}
    </div>
   {% assign collection = site[page.collection_name] %}

    <div>
   {% for item in collection %}
    <div>
      
      <span class="">
          {{ item.date | date: site.date_format | default: "no date" }}</span>

      <h2>
        <a class="" href="{{ item.url | relative_url }}">
            {{ item.title | escape }}
        </a>

      </h2>
      <p>
          {{ item.excerpt }}
      </p>
    </div>
    {% endfor %}


    </div>
    

</article>
