<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2">{{ site.title | escape }}</h2>
        {% if site.author %}
        <p class="subtitle is-4">Maintained by {{ site.author | escape }}</p>
        {% endif %}
      </div>
      <div class="column is-narrow">
        <ul class="">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            
          </li>
        </ul>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="content is-small">{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>