{% comment %}
    {
      "login": "atruskie",
      "id": 1452968,
      "avatar_url": "https://avatars3.githubusercontent.com/u/1452968?v=3",
      "gravatar_id": "",
      "url": "https://api.github.com/users/atruskie",
      "html_url": "https://github.com/atruskie",
      "followers_url": "https://api.github.com/users/atruskie/followers",
      "following_url": "https://api.github.com/users/atruskie/following{/other_user}",
      "gists_url": "https://api.github.com/users/atruskie/gists{/gist_id}",
      "starred_url": "https://api.github.com/users/atruskie/starred{/owner}{/repo}",
      "subscriptions_url": "https://api.github.com/users/atruskie/subscriptions",
      "organizations_url": "https://api.github.com/users/atruskie/orgs",
      "repos_url": "https://api.github.com/users/atruskie/repos",
      "events_url": "https://api.github.com/users/atruskie/events{/privacy}",
      "received_events_url": "https://api.github.com/users/atruskie/received_events",
      "type": "User",
      "site_admin": false,
      "contributions": 9
    }
{% endcomment %}
<div>
    <div>{{ include.user.login }} ({{ include.user.contributions }})</div>
    <img src="{{ user.avatar_url }}" />
</div>