<header role="banner">
  <nav class="navbar ">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.url }}">
        <img src="{{ site.logo }}" alt="{{ site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
      </a>
      {% include icon-github.html username=site.repository no_text=true class="navbar-item is-hidden-desktop" %}
      {% if site.twitter_username %} {% include icon-twitter.html username=site.twitter_username no_text=true class="navbar-item is-hidden-desktop" %} {% endif %}

      <!-- only appears for mobile -->
      <div class="navbar-burger burger" data-target="navMenu">
        <!-- These spans are acutally presentational :-S -->
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        {% for group in site.data.menu %}
        {% assign key = group[0] %}
        {% assign value = group[1] %}
        {% assign default_url = '/' | append: key %}
        {% assign collection_length = value.collections | size %}
        {% if collection_length > 0 -%}  
        <div class="navbar-item {% if collection_length > 0 %}has-dropdown is-hoverable{% endif %}">
          <a class="navbar-link is-active" 
            href="{{ value.url | default: default_url }}" >
            {{ value.title | default: key }}
          </a>
     
          <div class="navbar-dropdown">
            {% for collection_name in value.collections %}
            {%- assign collection = site.collections | where:"label",collection_name | first %}
            {%- unless collection %}
            {%- continue %}
            {%- endunless %}
            {%- assign collection_url = collection.permalink %}
            <div class="navbar-item label">
              <p>{{ collection.title | default: collection.category }}</p>
            </div>
            {% assign docs_length = collection.docs | size  %}
            {% for doc in collection.docs %}
            <a class="navbar-item" href="{{ doc.url }}">
              {{ doc.title }}
            </a>
            {%- endfor %}
            {% if forloop.last == false %}
            <hr class="navbar-divider" />
            {% endif %}
            {%- endfor %}
          </div>
        </div>
        {%- else %}
        <a class="navbar-item" 
            href="{{ value.url | default: default_url }}" >
            {{ value.title | default: key }}
        </a>
        {%- endif %}          
        {% endfor %}
      </div>

      <div class="navbar-end">
        {%- assign end_items = site.pages | where:"header_page",true -%}
        {%- for item in end_items -%}
        {% assign sub_items = site.pages | where:"fragments",item.fragments[0] %}
        {% if sub_items -%}
        <div class="navbar-item hap-dropdown is-hoverable">
          <a class="navbar-link is-active" href="{{ item.permalink | default: item.url }}">
            {{ item.title | default: item.label }}
          </a>          
          <div class="navbar-dropdown">
            {% for sub_item in sub_items %}
            <a class="navbar-item" href="{{ sub_item.url }}">
              {{ sub_item.title }}
            </a>
            {%- endfor %}
          </div>
        </div>
        {%- else %}
        <a class="navbar-item" href="{{ item.permalink | default: item.url }}" >
          {{ item.title | default: item.label }}
        </a>  
        {%- endif %}
        {%- endfor %}
      </div>
    </div>
  </nav>
</header>
